<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Thorlabs.MotionControl.Kinesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Kinesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="ServiceFault Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Formatted EventLog TraceListener" />
      <add fileName="%ALLUSERSPROFILE%\Thorlabs\MotionControl\logs\Thorlabs.MotionControl.log" header="" footer="" formatter="Simple Text Formatter" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Rolling Flat File" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Title:{title}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="ServiceFault Formatter" />
      <add template="{timestamp(local:MM/dd/yyy HH:mm:ss.fff)}{tab}{eventid}{tab}{severity}{tab}{message}&#xD;&#xA;{dictionary({tab}{key}:{tab}{value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Simple Text Formatter" />
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="KinesisUpdateOptionList" value="Log Diagnostics|Time Diagnostics|" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Verbose" value="false" />
    <add key="KeepErrorsOnTop" value="true" />
    <add key="LogInfo" value="true" />
    <add key="LogDiagnostics" value="false" />
    <add key="LogExtDiagnostics" value="true" />
    <add key="LogCommsTx" value="false" />
    <add key="LogCommsRx" value="false" />
    <add key="LogTiming" value="false" />
    <add key="LogBufferLimit" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Thorlabs.MotionControl.Kinesis.Properties.Settings>
      <setting name="KeepErrorsOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogDiagnostics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogExtDiagnostics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogCommsRx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogCommsTx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MRU_Size" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MRU_List" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepErrorsOnTop" serializeAs="String">
        <value>True</value>
      </setting>
    </Thorlabs.MotionControl.Kinesis.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>